<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Show Data on Google Pie Chart using Python Flask</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

		var values = {{ data|tojson }};
		console.log(values);

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      	var data = new google.visualization.DataTable();

      	data.addColumn('date', 'Date');
        data.addColumn('number', 'Total');

      	for(var i = 0; i< values.length; i++ ){
      		data.addRows([
      				[new Date(values[i][0].replaceAll('/',',')), values[i][1]]
			])
			console.log(data)
		}

        var options = {
          title: '',
            legend: {position: 'bottom'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
	<div style="margin: 10px 0 0 10px;width: 1000px">
		<h3>Daily Cases in Ontario</h3>

		<div id="curve_chart" style="width: 900px; height: 500px;"></div>
	</div>
</body>
</html>