<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pie-Chart using Flask</title>

</head>
<body>
	<div style="margin: 10px 0 0 10px;width: 1000px">
		<h3>Total Number of Covid Cases in Canada per Provinces</h3>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for key, value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Pie-Chart Showing the Percentage of Covid cases as per Provinces',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>

		<div id="piechart_3d" style="width: 900px; height: 500px;">
		</div>
		<div>
			<ul>
			<li><button><a href="/British-Columbia"> British Columbia </a></button></li>
			<li><button><a href="/Ontario"> Ontario </a></button></li>
			<li><button><a href="/Alberta"> Alberta </a></button></li>
			<li><button><a href="/Saskatchewan"> Saskatchewan </a></button></li>
			<li><button><a href="/Manitoba"> Manitoba </a></button></li>
			<li><button><a href="/Quebec"> Quebec </a></button></li>
			<li><button><a href="/New-Brunswick"> New-Brunswick </a></button></li>
			<li><button><a href="/Nova-Scotia"> Nova Scotia </a></button></li>
			<li><button><a href="/Prince-Edward-Island"> Prince-Edward-Island </a></button></li>
			<li><button><a href="/Newfoundland-and-Labrador"> Newfoundland and Labradaor </a></button></li>
			<li><button><a href="/Yukon"> Yukon </a></button></li>
			<li><button><a href="/Northwest-Territories"> Northwest Territories </a></button></li>
			<li><button><a href="/Nunavut"> Nunavut </a></button></li>

			</ul>

		</div>
	</div>
</body>
</html>